/* style.css */
body {
  margin: 0px;
  background: rgb(240, 240, 240);
  color: rgb(20, 20, 20);
  font-family: 'Big Shoulders Display', cursive;
	font-size: 18px;
  font-weight: lighter;
}
h1, h2, h3 {

  font-family: 'Big Shoulders Display', cursive;
  font-weight: bold;
}

h1 {
	font-size: 40px;
}
h2 {
  font-size: 24px;
  color: #6A71E1;
}
a {
  color: #6A71E1;
  text-decoration: none;
}
a:hover {
  color: black;
}

img{
  object-fit: contain; 
}

p{
  color:  rgb(0,0,0,0.7)
}

.banner{

  text-align: center;  
  color: white;
  padding: 5px 0px;
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.4) 50%), url("Images/leo_notcrop.jpg");
  background-size: cover;
  background-position: center;
}
.banner h1 {

  margin-left:  10px;
  font-size: 50px;
}
.banner p {
  opacity: 0.8;
  
  margin-bottom: 40px;
}



/* Banner book */

.banner-title{
  width: 700px;
  margin: 40px auto;

}

/* Button */

.btn {
  color: white;
  text-align:   right;
  background: #6772e5;
  box-shadow: 0 6px 10px rgba(50,50,93,.11);
  border-radius: 4px;
  padding: 5px 0px;
}

.btn:hover {
  background: #7795f8;
  color: white;
}

/*  White cards */

.card-white {
  background-color: white;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(50,50,93,.11);
  padding: 16px;
  margin: 76px 0px;

}
.card-white img {
  margin-bottom: 20px;
}
.card-white:hover {
  background: rgba(50,50,93,.11);
  color: white;

}

.card-white p:hover{
  color:  rgb( 0,0,0,0.7);
}




/*  Footer */

.footer {
  background-color: black;
  padding: 24px;
  color: white;
}
.footer a {
  color: white;
  font-size: 32px;
}


/*  Inline List */

.list-inline {
  list-style: none;
  padding-left: 0px;
}
.list-inline li {
  display: inline;
  padding: 0px 8px;
}
.container {
  width: 700px;
  margin: 40px auto;
}